/********************************************************************* general */

.debug{
  border: 1px solid rgba(255, 0, 0, .5);
}

/********************************************************************** FOOTER */

header{
  background-color: #2c3e50;
  height: 80px;
  color: white;
}


/*********************************************************************** MAIN */


/* *******************************************JUMBO */

.jumbo{
  background-color: #1abc9c;
  color: white;
}

/* *******************************************ABOUT */

.about{
  background-color: #1abc9c;
  color: white;
}

.my_container{
  width: 90%;
  margin: 0 auto;
}

/* *****************************************CONTACT */
.big_cont{
  height: 170px;
}

/* ******************************************************************** FOOTER */


/******************************************INFO  */
.info{
  background-color: #3a546d;
  color: white;
}

/* **************************************LEGAL */
.copyright{
  background-color: #2c3e50;
  color: white;
}

/* RESPONSIVE */

@media screen and (min-width:576px){
  .my_container{
    max-width: 450px;
  }
}

@media screen and (min-width:768px){
  .my_container{
    max-width: 630px;
  }
}

@media screen and (min-width:992px){
  .my_container{
    max-width: 870px;
  }
}

@media screen and (min-width:1200px){
  .my_container{
    max-width: 1050px;
  }
}

@media screen and (min-width:1400px){
  .my_container{
    max-width: 1230px;
  }
}